/* reset default browser styles */
html, body, header, footer, nav, main, div, section, article, aside,
h1, h2, h3, h4, h5, h6,
p, span, blockquote, pre, em, strong, sub, sup,
a, canvas, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, thead, tbody, tfoot, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
