---
title: Home
permalink: /
---

<section class="intro clearfix">
	<p>
		We are <strong>Armstrong Girls Soccer</strong>. We are a high school soccer
		team in Plymouth, MN. We compete in the
		<a href="https://www.nwsconference.org/">Northwest Suburban Conference</a>,
		the largest big school conference in Minnesota. Keep in touch by joining our
		<a href="mailto:info@armstronggirlssoccer.com">email list</a> or by
		following
		<a href="https://instagram.com/ahs.girls.soccer2020/">Instagram</a>, and
		<a href="https://twitter.com/GirlsArmstrong">Twitter</a>.
	</p>
	<img
		src="/assets/images/team-photo@2x.png"
		alt="2020 Team Photo"
		height="391px"
		class="responsive"
	/>
</section>

<section class="upcoming-game clearfix">
	<h2>Upcoming Game</h2>
	<ul>
		<li>
			<h3>⚽️ Falcons vs Blaine</h3>
			<p>🏟 Armstrong High School Stadium</p>
			<p>📅 August 26th, 2021</p>
			<p>🎟 Adults $7, Students & Senior Citizens $5</p>
		</li>
	</ul>
</section>

<section class="schedule clearfix">
	<h2>2021 Varsity Schedule</h2>
	{% include schedule.html %}
</section>

<section class="standings clearfix">
	<h2>2021 NWSC Standings</h2>
	{% include standings.html %}
</section>
